<div class="form-container">
    <form action="/tweet" method="POST">
        <textarea name="content" rows="10">{{content}}</textarea>
        <br />
        <input type="submit" value="Tweet" />
    </form>
</div>