<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise App</title>
    <link rel="icon" href="../../content/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../content/styles/site.css">
</head>

<header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="content/images/all">Images</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1 class="head-title">Detailed image</h1>
    <h2 class="head-title">{name}</h2>
    <div>{content}</div>

    <form method="post" >
        <div class="form-group">
            <input class="btn form-btn" type="submit"value="Back">
        </div>
    </form>
</main>

</html>