<form action="/users/login" method="POST" class="center-form" id="login-form">
  Username
  <input class="input-field" type="text" name="username" />
  <br />
  Password
  <input class="input-field" type="password" name="password" />
  <br />
  <input class="form-btn btn" type="submit" value="Login" />
</form>