<form action="/users/register" method="POST" class="center-form" id="register-form">
  Username
  <input class="input-field" type="text" name="username" />
  <br />
  Password
  <input class="input-field" type="password" name="password" />
  <br />
  First Name
  <input class="input-field" type="text" name="firstName" />
  <br />
  Last Name
  <input class="input-field" type="text" name="lastName" />
  <br />
  <input class="form-btn btn" type="submit" value="Register" />
</form>