<div class="form-container">
    <form class="add-thread-form" action="/admins/spam" method="POST">
        <label for="block">Block user</label>
        <input type="text" id="block" name="username" placeholder="Enter username">
        <input type="submit" value="Block" name="block">
    </form>
</div>
<div class="form-container">
    <form class="add-thread-form" action="/admins/spam" method="POST">
        <label for="unblock">Unblock user</label>
        <input type="text" id="unblock" name="username" placeholder="Enter username">
        <input type="submit" value="Unblock" name="unblock">
    </form>
</div>


