<h1 class="centered">Latest tweets of {{username}}</h1>
{{#each tweets}}
    <div class="single-post">
        <h4>Posted by: {{author.username}} on {{creationDate}}</h4>
        <p class="align-left" >{{{content}}}</p>
    </div>
{{/each}}
