extends ../layout.pug

block content
    form.form.center-form(method='post', enctype='multipart/form-data')
        h2 Add Movie
        .form-group
            label(for='name') Name
            input#name.input-field(name='name', type='text')
        .form-group
            label(for='summary') Summary
            textarea#summary.input-field(name='summary', type='text')
        .form-group
            label(for='director') Director
            input#director.input-field(name='director', type='text')
        .form-group
            label(for='image') Image
            input#image.input-field(name='image', type='file', accept='.jpg,.jpeg,.png')
        .form-group
            label(for='genre') Genre
            select#genre.input-field(name='genre')
                each genre in genres
                    option(value=`${genre._id}`)=genre.name
        .form-group
            input.form-btn.btn(type='submit', value='Add')
